.super-container {
    width: 100%;
    padding-top: 50px;
}

.profile-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: auto 20px auto var(--navbar-margin-left);
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 3px solid #333;
}

.profile-info {
    flex-grow: 1;
}

h1, h2 {
    margin: 0;
}

h1 {
    color: #333;
    font-size: 28px;
    cursor: pointer;
}

h2 {
    color: #666;
    font-size: 18px;
    font-weight: normal;
}

.streak-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100px;
}

.streak-circle {
    position: relative;
    width: 100px;
    height: 100px;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    stroke: #4CAF50;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.streak-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.streak-label {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.streak-fire {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 24px;
    color: #FF4500;
}
.topics-container {
    margin-top: 20px;
}

.topics-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.topics {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.topic {
    background-color: #e0e0e0;
    color: #333;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
}

.topic input {
    border: none;
    background: none;
    font-size: 14px;
    outline: none;
    padding: 0;
}

.topic input:focus {
    border: none;
}

.topic:hover {
    background-color: #d0d0d0;
}

.delete-topic {
    background: none;
    font-size: .8rem;
    border: none;
    color: gray;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50%;
}

.name-input {
    font-size: 28px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.add-topic {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-topic:hover {
    background-color: #555;
}