.pricing-section {
    /*padding: 50px;*/
    text-align: center;
    background-color: #fff;
    margin-bottom: 100px;
    padding-top: 50px;
}

.pricing-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pricing-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.plan-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

.price {
    font-size: 2rem;
    color: #000;
    margin-bottom: 20px;
}

.price span {
    font-size: 1rem;
    color: #888;
}

.features {
    list-style-type: disc; /* Add bullet points */
    text-align: start; /* Align text to the start */
    margin-bottom: 30px;
    padding-left: 20px; /* Add padding to align bullets properly */
    flex-grow: 1;
}

.features li {
    font-size: 0.9rem;
    margin: 10px 0;
    color: #555;
}

.select-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.select-button:hover {
    background-color: #000;
}


@media (max-width: 768px) {
    .pricing-container {
        flex-direction: column;
        align-items: center;
    }
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
    border-top: 1px solid #e0e0e0;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: #555;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #000;
}

.beta-tag {
    background-color: gold;
    color: #000;
    font-size: 0.8rem;
    padding: 2px 6px;
    margin-left: 10px;
    border-radius: 3px;
    text-transform: uppercase;
}