.selector-paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.selector-paginator button {
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    color: #333;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
}

.selector-paginator button:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.selector-paginator button.active {
    background-color: #333;
    color: #fff;
}

.course-selector {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s
}

.course-selector-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
}

.selectable-course-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.selectable-course-item {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.selectable-course-item:hover {
    background-color: #f0f0f0;
}

.selectable-course-item:last-child {
    border-bottom: none;
}

#course-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.close-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #d32f2f;
}