/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: var(--background-color);*/
/*    margin: 0;*/
/*    padding: 20px;*/
/*    color: #333;*/
/*}*/

.course-grid {
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*width: inherit;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-left: var(--navbar-margin-left);
    margin-top: 20px;
    /*width: 100%;*/
    margin-right: 20px;
}

.course-card {
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.course-description {
    font-size: 0.9em;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.course-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.course-difficulty, .course-duration, .course-language {
    font-size: 0.8em;
    color: var(--secondary-color);
}

.course-duration::before {
    content: "⏱";
    margin-right: 5px;
}

.course-topics {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
}

.topic-chip {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
}

.free-tag {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    align-self: flex-start;
}

.paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: var(--navbar-margin-left);
}

.paginator button {
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    color: #333;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
}

.paginator button:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.paginator button.active {
    background-color: #333;
    color: #fff;
}

